-# decide on styling

.row
  %p
    = "Full Name: #{@profile.salutation} #{@profile.first_name} #{@profile.last_name}"
  %p
    = "Phone Number: #{@profile.phone_number}"
  %p
    = "Establishment: #{@profile.establishment}"
  %p
    = "Nick: #{@profile.nick}"
