= tag.tr item do
  %td= item.category
  %td= item.brand
  %td= item.name
  %td= item.quantity
  %td= item.min_qty
  %td
    = link_to 'Sell', sell_admin_item_path(item)
    = link_to 'Edit', edit_admin_item_path(item)
    = link_to 'Delete', [:admin, item], method: :delete, data: { confirm: 'Are you sure?' }
