-# decide on styling

.row
  %p
    = "Full Name: #{@profile.salutation} #{@profile.first_name} #{@profile.last_name}"
  %p
    = "Mobile Number: #{@profile.mobile_number}"
  - if @profile.phone_number.present?
    %p
      = "Phone Number: #{@profile.phone_number}"
  %p
    = "Establishment: #{@profile.establishment}"
  %p
    = "Role: #{@profile.role.capitalize}"
  %p
    - if can? :manage, :all
      = link_to 'My Employees', admin_employees_admin_admin_user_path(@admin_user)
    - else
      = link_to 'My Employees', admin_users_path
