= tag.tr admin_user do
  %td
    = link_to admin_user.email, admin_admin_user_path(admin_user)
  %td= admin_user.admin_full_name
  %td= admin_user.establishment
  %td
    = link_to 'Edit', edit_admin_admin_user_path(admin_user)
    = link_to 'Delete', [:admin, admin_user], method: :delete, data: { confirm: 'Are you sure?' }
