.row
  .col.m3
    = form_tag :items, method: 'get' do
      = text_field_tag :q, params[:q],
        placeholder: 'Search'
  .col.m9
    = select_tag :category,
                 options_for_select(Item::CATEGORY_LIST, selected: params[:filter_by]),
                 include_blank: 'Item Categories',
                 onchange: "window.location.replace('/items?filter_by='+this.value);"
  .pull-right.sort-width
    Sort by:
    = link_to items_path(sort_by: 'category', filter_by: params[:filter_by]), title: 'Category', class: 'sort-color' do
      %i.fa.fa-sitemap
    = link_to items_path(sort_by: 'brand', filter_by: params[:filter_by]), title: 'Brand', class: 'sort-color' do
      %i.fa.fa-university
    = link_to items_path(sort_by: 'name', filter_by: params[:filter_by]), title: 'Name', class: 'sort-color' do
      %i.fa.fa-bookmark
- if item_queries(params[:filter_by], params[:q], params[:sort_by])
  = link_to 'View all items', items_path, class: 'pull-left'
  = link_to 'Clear Query', items_path, class: 'pull-right clear-query'
%table.table.table-striped
  %thead
    %tr
      %th Category
      %th Brand
      %th Name
      %th Quantity of Items Remaining
      %th
  %tbody
    - if @items.empty?
      %br
        %i No item matches your search
    = render @items
