!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StoreManagerRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid{style: "margin: 15px 30px"}
      .row
        .col.m12
          = render 'devise/shared/errors'
          = render 'layouts/header'
      .row
        .col.m9
          = yield
        = render 'layouts/footer'
